.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
  background-color: #f7dd4b;
  color: rgb(0, 0, 0);
}

.navigators {
  display: inline-block;
  padding: 20px 20px;
  margin: 0 10px;
}
.navigators:hover {
  background-color: rgb(255, 196, 0); /* Cambia el fondo al hacer hover */
}

.links {
  text-decoration: none;
  color: rgb(0, 0, 0);
  /* transition: color 0.3s; */
}



.homeLink {
  order: -1; /* Coloca el enlace de Home al principio */
}

.linksContainer {
  display: flex;
  align-items: center;
}

.activeLink {
    /* display: inline-block; */
  /* padding: 20px 20px; */
  text-decoration: underline !important;
  
  color: black;
}
.p {
  font-size: 36px; /* Ajusta el tamaño de la fuente según tus preferencias */
  font-weight: bold; /* Hace que el texto sea más audaz */
  color: black; /* Cambia el color del texto */
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  letter-spacing: 2px; /* Aumenta el espacio entre las letras */
  text-shadow: 1px 1px 1px rgb(73, 68, 0); 
  
  margin: 0; /* Elimina cualquier margen */
}
